@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  color: #333;
  cursor:url(../img/cur.cur),auto;
  
}





div.port_1 {
  width: 100%; height:940px;
  position: relative;
  overflow: hidden;
}


div.port_1 div.color_1 {
  position: absolute;
  top:-600px; left:-600px;
  animation: flow linear 2s forwards;
}

@keyframes flow {
  100% { top:0; left: 0;}
}



div.port_1 div.color_2{
  position: absolute;
  top:-600px; right: -720px;
  animation: flow1 linear 2s forwards;
}
@keyframes flow1 {
  100% { top:0; right: 0;}
}

div.port_1 div.color_3 {
  position: absolute;
  bottom:-500px; left:600px;
  animation: flow2 linear 2s forwards;
  
}


@keyframes flow2 {
  100% { bottom:-100px;}
}







div.port_1 div.box_bl{
  width:900px;
  height:600px;
  margin:100px 480px;
  outline: 2px solid black;
  border-radius: 15px;
  position: relative;
  
  
}
div.port_1 div.box_bl h1{
  width: 800px;
  padding:150px 220px;
  font-size: 80px;
  position: absolute;
}
div.port_1 div.box_bl p{
  margin:180px 0px 0px 120px;
  font-size: 20px;
  
}






div.port_2 {
  width: 100%;height:940px;
  
  position: relative;
  overflow: hidden;
}


div.port_2 div.color_1 {
  position: absolute;
  top:-600px; left:-600px;
  animation: flow linear 2s forwards;
  opacity: .2;
}

@keyframes flow {
  100% { top:0; left: 0;}
}



div.port_2 div.color_2{
  position: absolute;
  top:-600px; right: -720px;
  animation: flow1 linear 2s forwards;
  opacity: .2;
}

@keyframes flow1 {
  100% { top:0; right: 0;}
}

div.port_2 div.color_3 {
  position: absolute;
  bottom:-500px; left:600px;
  animation: flow2 linear 2s forwards;
  opacity: .2;
}


@keyframes flow2 {
  100% { bottom:-100px;}
}



div.port_2 div.box_bl {
  width: 1220px;
  height: 700px;
  margin: 0 auto;
  /* outline: 4px solid black; */
  border-radius: 100px;
  position: relative;
}

div.port_2 h2 {
  font-size: 90px;
  text-align: center;
  padding-top: 120px;
  position: relative;
}

div.port_2 p > img {
  width: 230px;
  float: left;
  margin:80px 160px 100px 75px;
  
}
div.port_2 div.box_b3 {
  float: left;
  margin-top:80px;
  margin-right: 120px;
  line-height: 3;
  font-weight: bold;
  font-size: 18px;
}
div.port_2 div.box_b4 {
  float: left;
  margin-top:80px;
  line-height: 3;
  font-weight: bold;
  font-size: 18px;
}





div.port_3 {
  width: 100%;
  background: rgb(245, 187, 196,.1);

}
div.port_3::after{
  content: ""; display: block; clear: both;

}


div.port_3 div.box_bl {
  width:1200px; 
  margin: 0 auto;

}
div.port_3 div.box_bl p {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  padding-top:85px;
  
}
div.port_3 div.box_bl p span {
  color: rgb(255, 198, 215);
}




div.port_3 div.box_b2  {
  width:1200px; 
  margin: 0 auto;
  
}
div.port_3 div.box_b2 div.skill {
  width:1100px; height: 140px;
  margin: 0 auto;
  outline: 1px solid red;
  
}
div.port_3 div.box_b2 div.skill p{
  float: left;
  cursor : pointer;
}
div.port_3 div.box_b2 div.skill p:not(:nth-child(1)){
  padding-left: 20px;
}

div.port_3 div.box_b2 div.skill p img  {
  width:100px;
  
}
div.port_3 div.box_b2  {
  width: 100%; height:940px;
  position: relative;
  overflow: hidden;
}


/* statistics start */
.graph{
  background-color:#faedf4;
  height: 100vh;
  border-radius: 20px;
  margin:50px;
}
@keyframes stack{
  0%{ height: 0; opacity:0;}
  100%{ height: 90%; opacity:1;}
}
@keyframes stack2{
  0%{ height: 0; opacity:0;}
  100%{ height: 90%; opacity:1;}
}
@keyframes stack3{
  0%{ height: 0; opacity:0;}
  100%{ height: 95%; opacity:1;}
}
@keyframes stack4{
  0%{ height: 0; opacity:0;}
  100%{ height: 80%; opacity:1;}
}
@keyframes stack5{
  0%{ height: 0; opacity:0;}
  100%{ height: 85%; opacity:1;}
}
@keyframes stack6{
  0%{ height: 0; opacity:0;}
  100%{ height: 85%; opacity:1;}
}
@keyframes stack7{
  0%{ height: 0; opacity:0;}
  100%{ height: 95%; opacity:1;}
}

section{
  display:flex;  
/*   flex-direction:column;   */
  justify-content:center;
  margin-top:60px;
  height: 500px;
  transform:rotate(180deg);
}

.graph {
  height:400px;
}

.graph span{
  display:flex;
  height:40px;
  line-height:40px;
  text-align:right;
  /*   width: 75%; */
  /*   background-color:pink; */
  border-radius: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color:white;
  transform:rotate(180deg);
  
}
.graph.stack1 span{
  background-color:#ffb3c6;
  height:90%;
  animation:stack 10s 1;
}

.graph.stack2 span{
  background-color:#ffb3c6;
  height:90%;
  animation:stack2 10s 1;
}
.graph.stack3 span{
  background-color:#ffb3c6;
  height:95%;
  animation:stack3 10s 1;
}
.graph.stack4 span{
  background-color:#ffb3c6;
  height:80%;
  animation:stack4 10s 1;
}
.graph.stack5 span{
  background-color:#ffb3c6;
  height:85%;
  animation:stack5 10s 1;
}
.graph.stack6 span{
  background-color:#ffb3c6;
  height:85%;
  animation:stack6 10s 1;
}
.graph.stack7 span{
  background-color:#ffb3c6;
  height:95%;
  animation:stack7 10s 1;
}
/* statistics end */



div.port_3 div.g_text {
  width:1000px;
  margin: 0 auto;
}
div.port_3 div.g_text hr{
  margin-bottom: 10px;
  background: pink;
  height: 2px;
  border:0;
}
div.port_3 div.g_text p{
  float: left;
  font-weight: bold;
  font-size: 22px;
  color:palevioletred;
}
div.port_3 div.g_text p:nth-child(2){
  padding-left:15px;
}
div.port_3 div.g_text p:nth-child(3){
  padding-left:95px;
}
div.port_3 div.g_text p:nth-child(4){
  padding-left:120px;
}
div.port_3 div.g_text p:nth-child(5){
  padding-left:127px;
}
div.port_3 div.g_text p:nth-child(6){
  padding-left:126px;
}
div.port_3 div.g_text p:nth-child(7){
  padding-left:130px;
}
div.port_3 div.g_text p:nth-child(8){
  padding-left:130px;
}



div.port_4 {
  height: 940px;
  width: 100%;
  margin:0 auto;
  position: relative;
  
}

.port_4 .pp_img {
  width: 860px; height: 60%;
  position: relative;
  top: 50%;
  background-color: pink;
  border-radius: 15px;
  transform: translateY(-45%);
  float:left;
  margin-left: 200px;
  
}

.port_4 .pp_img .img-box {
  width:680px; height:400px;
  position: absolute;
  top: 80px; left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 9;
  
}
.port_4 .pp_img .img-box .preview{
  width: 800px; height: 400px; 
  position: relative;
  z-index: 4;
}
.port_4 .pp_img .img-box .hover-img{
  background: url(../img/benefit.jpg) center top no-repeat;
  background-size: cover;
  position: absolute;
  width: 533px; height: 400px;
  left: 50%; top: 0;
  transform: translateX(-50%);
  z-index: 9;
  transition: 12s linear;
  width:800px;
  cursor : pointer;
}
.port_4 .pp_img .img-box:hover .hover-img{
  background-position: center bottom;
}

div.port_4 .pp_txt {
  width:600px;
  float:right;
  color:#333;
  margin-top: 370px;
  margin-right: 150px;
  
}

div.port_4 div.pp_txt hr{
  margin: 13px 0px;
}
div.port_4 .pp_txt strong {display: block;font-size:11px;font-weight:700;margin-bottom:5px;letter-spacing:0.05em;}
div.port_4 .pp_txt h2 {font-size:25px;font-weight:500;margin-bottom:30px;}
div.port_4 .pp_txt h2:after {display:block;content:"";width:0;height:1px;background:#444;margin:20px 0;transition:1s 0.3s ;}
.section.on div.port_4 .pp_txt h2:after {width:450px;}
.section .pp_txt {transform: translateX(-100px);opacity:0; transition: linear 0.3s;}
.section.on .pp_txt {transform: translateX(0);opacity:1;}
.section .pp_txt01 {transform: translateX(100px);opacity:0; transition: linear 0.3s;}
.section.on .pp_txt01 {transform: translateX(0);opacity:1;}
div.port_4 .pp_txt span {margin-left:10px;font-size:20px;font-weight:300;letter-spacing:-0.05em;}
.txt_row {flex:100%;display:flex;justify-content:space-between;line-height:1.8;}
.txt_row dt {float:left;width:70px;font-size:15px;font-weight:500;}
.txt_row dl {width:500px;font-size:15px;font-weight:300;}
.txt_row .color {display:inline-block;width:12px;height:12px;border-radius:50%;margin:2px 0 0 0;}
.btn {display:flex;justify-content: left;width:350px;text-align: center;}
.btn a {display:block;width:150px;height:40px;margin:35px 15px 0 0;background:#fff;border-radius:5px;box-shadow:2px 2px 8px rgba(0,0,0,0.1);
font-size:13px;line-height:40px;font-weight:500;transition:0.5s;}

.c01 {background:#faedf4;}
.c02 {background:#ffb3c6;}
.c03 {background:#fda3bf;}
.c04 {background:#b5c6e6;}


div.port_5 {
  height: 940px;
  width: 100%;
  margin:0 auto;
  position: relative;
  background-color: rgb(226, 226, 226);
}

.port_5 .pp_img {
  width: 860px; height: 60%;
  position: relative;
  top: 50%;
  background-color: #888;
  border-radius: 15px;
  transform: translateY(-45%);
  float:left;
  margin-left: 200px;
  
}

.port_5 .pp_img .img-box {
  width:680px; height:400px;
  position: absolute;
  top: 80px; left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 9;
  
}
.port_5 .pp_img .img-box .preview{
  width: 800px; height: 400px; 
  position: relative;
  z-index: 4;
}
.port_5 .pp_img .img-box .hover-img{
  background: url(../img/porsche.jpg) center top no-repeat;
  background-size: cover;
  position: absolute;
  width: 533px; height: 400px;
  left: 50%; top: 0;
  transform: translateX(-50%);
  z-index: 9;
  transition: 12s linear;
  width:800px;
  cursor : pointer;
}
.port_5 .pp_img .img-box:hover .hover-img{
  background-position: center bottom;
}

div.port_5 .pp_txt {
  width:600px;
  float:right;
  color:#333;
  margin-top: 370px;
  margin-right: 150px;
  
}


div.port_5 .pp_txt strong {display: block;font-size:11px;font-weight:700;margin-bottom:5px;letter-spacing:0.05em;}
div.port_5 .pp_txt h2 {font-size:25px;font-weight:500;margin-bottom:30px;}
div.port_5 .pp_txt h2:after {display:block;content:"";width:0;height:1px;background:#444;margin:20px 0;transition:1s 0.3s ;}
.section.on div.port_5 .pp_txt h2:after {width:450px;}
.section .pp_txt {transform: translateX(-100px);opacity:0; transition: linear 0.3s;}
.section.on .pp_txt {transform: translateX(0);opacity:1;}
.section .pp_txt01 {transform: translateX(100px);opacity:0; transition: linear 0.3s;}
.section.on .pp_txt01 {transform: translateX(0);opacity:1;}
div.port_5 .pp_txt span {margin-left:10px;font-size:20px;font-weight:300;letter-spacing:-0.05em;}
.txt_row {flex:100%;display:flex;justify-content:space-between;line-height:1.8;}
.txt_row dt {float:left;width:70px;font-size:15px;font-weight:500;}
.txt_row dl {width:500px;font-size:15px;font-weight:300;}
.txt_row .color {display:inline-block;width:12px;height:12px;border-radius:50%;margin:2px 0 0 0;}
.btn {display:flex;justify-content: left;width:350px;text-align: center;}
.btn a {display:block;width:150px;height:40px;margin:35px 15px 0 0;background:#fff;border-radius:5px;box-shadow:2px 2px 8px rgba(0,0,0,0.1);
font-size:13px;line-height:40px;font-weight:500;transition:0.5s;}

.c05 {background:#313639;}
.c06 {background:#191f22;}
.c07 {background:#000;}



div.port_6 {
  height: 940px;
  width: 100%;
  margin:0 auto;
  position: relative;
  
}

.port_6 .pp_img {
  width: 860px; height: 60%;
  position: relative;
  top: 50%;
  background-color: #d6bdc1;
  border-radius: 15px;
  transform: translateY(-45%);
  float:left;
  margin-left: 200px;
  
}

.port_6 .pp_img .img-box {
  width:680px; height:400px;
  position: absolute;
  top: 80px; left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 9;
  
}
.port_6 .pp_img .img-box .preview{
  width: 800px; height: 400px; 
  position: relative;
  z-index: 4;
}
.port_6 .pp_img .img-box .hover-img{
  background: url(../img/macmoc.jpg) center top no-repeat;
  background-size: cover;
  position: absolute;
  width: 533px; height: 400px;
  left: 50%; top: 0;
  transform: translateX(-50%);
  z-index: 9;
  transition: 12s linear;
  width:800px;
  cursor : pointer;
}
.port_6 .pp_img .img-box:hover .hover-img{
  background-position: center bottom;
}

div.port_6 .pp_txt {
  width:600px;
  float:right;
  color:#333;
  margin-top: 370px;
  margin-right: 150px;
  
}


div.port_6 .pp_txt strong {display: block;font-size:11px;font-weight:700;margin-bottom:5px;letter-spacing:0.05em;}
div.port_6 .pp_txt h2 {font-size:25px;font-weight:500;margin-bottom:30px;}
div.port_6 .pp_txt h2:after {display:block;content:"";width:0;height:1px;background:#444;margin:20px 0;transition:1s 0.3s ;}
.section.on div.port_6 .pp_txt h2:after {width:450px;}
.section .pp_txt {transform: translateX(-100px);opacity:0; transition: linear 0.3s;}
.section.on .pp_txt {transform: translateX(0);opacity:1;}
.section .pp_txt01 {transform: translateX(100px);opacity:0; transition: linear 0.3s;}
.section.on .pp_txt01 {transform: translateX(0);opacity:1;}
div.port_6 .pp_txt span {margin-left:10px;font-size:20px;font-weight:300;letter-spacing:-0.05em;}
.txt_row {flex:100%;display:flex;justify-content:space-between;line-height:1.8;}
.txt_row dt {float:left;width:70px;font-size:15px;font-weight:500;}
.txt_row dl {width:500px;font-size:15px;font-weight:300;}
.txt_row .color {display:inline-block;width:12px;height:12px;border-radius:50%;margin:2px 0 0 0;}
.btn {display:flex;justify-content: left;width:350px;text-align: center;}
.btn a {display:block;width:150px;height:40px;margin:35px 15px 0 0;background:#fff;border-radius:5px;box-shadow:2px 2px 8px rgba(0,0,0,0.1);
font-size:13px;line-height:40px;font-weight:500;transition:0.5s;}

.c08 {background:#ece8e7;}
.c09 {background:#f2ded5;}
.c10 {background:#d6bdc1;}
.c11 {background:#98391d;}




footer .page-top{
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  /* border-radius: 50%; */
  background: url(../img/mouse.png);
  /* background:#a6d4e8 !important;  */
  text-align: center;
  line-height: 60px !important;
  font: bold 16px "Noto Sans KR";
  text-transform: lowercase;
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  border-radius: 50%;
}

footer .page-top:focus,
footer .page-top:hover{
  animation: btn-top 3s infinite;
  color:#fff;
  /* background: rgba(162, 125, 248, 0.3) !important; */
}

footer .page-top:hover{
  animation: btn-top 3s infinite;
  /* color:#fff;
  background: rgba(112, 51, 255,0.4) !important; */
  background: url(../img/mouse1.png);
}

@keyframes btn-top{
  0%{transform: scale(0.8);}
  25%{transform: scale(.6);}
  50%{transform: scale(1);}
  75%{transform: scale(.7);}
  100%{transform: scale(1);}
}







footer {
  width: 100%; height:100px;
  margin: 0 auto;
  background-color: #505050;

}

footer:after {
  content: ""; display: block; clear: both;
}



footer div.foot_contact {
  float: left;
  margin-top:30px;
  margin-left:220px;
  width: 300px; height:40px;
  text-align: center; line-height: 40px;
  color:white;
}
footer div.foot_contact p >span {
  float: right;
  
}
footer div.foot_name {
  float: left;
  margin-top:30px;
  width: 300px; height:40px;
  text-align: center; line-height: 40px;
  
  color:white;
  
}

footer div.foot_Contact p {
  float: left;
  margin-top:30px;
  width: 300px; height:40px;
  text-align: center; line-height: 40px;
  
  color:white;
  
}

footer div.foot_sns {
  float: left;
  width: 80px; height:40px;
  margin-top:30px;
  
}
footer div.foot_sns i{
  color: white;
  padding: 5px;
  float: right;
}
footer div.foot_address {
  color: white;
  padding-left: 5px;
  margin-top:30px;
  line-height: 40px;
  float: left;
  width: 220px; height:40px;
}



