@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  color: #333;
}


div#wrap{
  width:100%;
}

header{
  width:1410px; height:280px;
  margin:0 auto;
  
}
header:after{
  content:"";display: block; clear: both; 
}
header div.top_menu{
  float:right;
}
header div.top_menu{
  padding:10px 20px;
}
header div.top_menu span{
  padding:0px 20px;
  font-size: 17px;
  color: #fda3bf;
}
header h1{
  width:1410px; height: 145px;
  float:left;
  line-height: 145px;
  text-align: center;
  
}
header h1 img{
  width:400px; height:150px;
  margin: 0 auto;
}

main {
  width: 100%;
}
main div.top_sub_img {
  width: 100%;
}
main div.top_sub_img ul {
  width: 1410px;
  background-color: #faedf4;
  box-sizing: border-box;
  padding: 63px;
  margin: 0 auto;
  
}
main div.top_sub_img ul:after {
  content: ""; display: block; clear: both;
}
main div.top_sub_img ul li:nth-child(1) {
  width: 388px;
  border: 10px solid #fda3bf;
  float: left;
}
main div.top_sub_img ul li:nth-child(2) {
  width: 388px;
  border: 10px solid #cadec2;
  float: left;
}
main div.top_sub_img ul li {
  width: 388px;
  border: 10px solid #b5c6e6;
  float: left;
}
main div.top_sub_img ul li:not(:nth-child(1)) {
  margin-left: 22px;
}
main div.top_sub_img ul li img {
  width: 388px; display: block;
}
main div.img_contents {
  width:1410px;
  margin:0 auto;
}
main div.img_contents img{
  margin-top:80px;
  
}
main div.img_contents div.img_contents_sub img{
  margin-top: 0px;
}


main div.img_contents h1{
  text-align: center;
  padding:80px 0px;
  background:url(../img/sub_bgline.jpg);
}



main div.img_contents_sub {
  width:1410px; height: 687px;
  background-color: #faedf4;
}
main div.img_contents_sub ul {
  width:1410px;
  float: left;
  margin-bottom: 80px;
}
main div.img_contents_sub ul li {
  float:left;
}
main div.img_contents_sub ul li:nth-child(2) {
  float:right;
  margin:8px;
}
main div.img_contents_sub ul li p:nth-child(1) {
  font-size: 40px;
  
}
main div.img_contents_sub ul li p:nth-child(2) {
  font-size: 60px;
  
}
main div.img_contents_sub ul li p:nth-child(3) {
  font-size: 20px;
  line-height: 1.9;
}
main div.img_contents_sub ul li p{
  padding: 0px 0px 0px 132px;
  
}
main div.img_contents_sub ul li p:nth-child(1){
  padding-top:233px;
}

main div.img_contents_sub ul li img{
  width: 388px;
  border: 10px solid #b5c6e6;
}





div#end div.end_sub_img {
  width: 1410px;height:540px;
  margin: 0 auto;
  
}

div#end div.end_sub_img ul {
  margin-top:38px;
}
div#end div.end_sub_img ul li {
  float: left;
  padding: 30px;
  margin:10px 8px 0px 9px;
  
}
div#end div.end_sub_img ul li img{
  margin-bottom: 30px;
}

div#end div.end_sub_img ul li p{
  line-height: 2.2;
}
div#end div.end_sub_img ul li div p.end_sub_text {
  margin-top:50px;
}




div#end div.end_sub_img img {
  float: left;
  width:275px;
  
}





footer {
  width: 100%; height:296px;
  margin: 0 auto;
  margin-top:38px;
  background-color: #e6427a;
}
footer:after {
  content: ""; display: block; clear: both;
}

footer div#foot_wrap{
  width:1410px; height:296px;
  margin: 0 auto;
  
}
footer div.foot_logo {
  width: 300px; height:296px;
  padding-left:100px;
  margin: 0 auto;;
  float: left;
  
}

footer div.foot_logo img {
  width: 240px;
  margin: 0 auto;
  margin-top:50px;
}



footer div.foot_copy {
  float: left;
  width: 600px; height:296px;
  padding-top:50px;
  padding-left:120px;
  box-sizing: border-box;
  
}
footer div.foot_copy p {
  float: left;
  font-size: 15px;
  padding: 10px;
  line-height: 2.1;
  color:white;
  
}
footer div.foot_copy p:not(:nth-child(1)) {
  padding-left:30px;
}
footer div.foot_copy p:nth-child(3) {
  padding-left:60px;
}
footer div.foot_copy p:nth-child(4) {
  width: 400px;
  margin-top:10px;
  padding-left:70px;
  font-size: 12px;
}
footer div.foot_copy p span{
  font-size: 12px;
}
footer div.foot_copy span:nth-child(5){
  font-size: 12px;
  color:white;
  padding:0px 5px 0px 60px;
  float: left;
}
footer div.foot_copy span:nth-child(6){
  font-size: 12px;
  color:white;
  padding:0px 0px 50px 5px;
  float: left;
  
}




footer div.foot_sns {
  float: left;
  width: 400px; height:107px;
  margin-top:50px;
  margin-left:10px;
  color: white;
  
}
footer div.foot_sns ul span{
  padding-top:10px;
  color: white;
  font-size: 15px;
  padding-right: 50px;
  
}


footer div.foot_sns ul i {
  padding-left:10px;
  color: white;
}
footer div.foot_sns p {
  width:300px; height: 30px;
  font-size: 15px;
  text-align: center;
  margin-top:20px;
  padding-top:5px;
  outline: 1px solid white;
}
footer div.foot_sns span {
  font-size: 10px;
  
}




